.office-card{
    margin-top: 20px;
    margin-bottom: 20px;
}

.office-card h5{
    margin-top: 10px;
}

.card-centrar{
 margin-right: 10cm;   
}
.office-card .card-subtitles{
    margin-right: 50px;
    font-size: smaller;
    font-weight: 600;
    color: grey;
}

.office-card p{
    font-size: small;
    font-weight: 500;
    color: rgb(0, 0, 0);
}